/* 1. Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Type Selector */
p{
    font-size: 16px;
    margin-bottom: 10px;
}

/* 3. Class Selector */
.highlight{
    background-color: aquamarine;
}

/* 4. ID selector */
#header{
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    
}

/* 5. Attribute selector */
input[type="text"]{
    border: 2px solid #21a2c9;
}

/* 6. Descendant selector */
article p{
    font-style: italic;
    background-color: #1a1a1a;
    color:#fff;
    padding: 10px;
}

/* 7. Child Selector */
div >p {
    background-color: #21a2c9;
}

/* 8. Adjacent Sibling Selector */
h1 + p {
    font-weight: bold;
}

/* 9. General Sibling Selector */
 h2 ~ p {
    color: #ff0000;
 }

 /* 10. Pseudo-class Selector */
 a:hover {
    color: #ff00ff;
    background-color: bisque;
    text-decoration: none;
    margin: 4px;
    padding: 5px;
 }

/* 11. Pseudo-element Selector */
p::first-letter{
    font-weight: bold;
    font-size: 30px;
}

/* 12. Grouping Selector */
h1,h2,h3{
    font-family: Arial, sans-serif;
    text-align: center;
}